body{
    background-color: black;
}

table{
    border: 1px solid gray;
    border-collapse: collapse; /*to make borders collapsed you have to use this css rule*/
}
h2{
    font-family: "lobster", cursive;
    text-align: center;
}

td{
    border: 1px solid gray;
    
}
